@import
	url('https://fonts.googleapis.com/css?family=Anton&display=swap');

a {
	text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

.head {
	width: 100%;
	background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

.logo-container {
	color: black;
	font-family: 'Anton', sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #ffce1f;
	font-family: 'Anton', sans-serif;
	padding: 20px;
	font-size: 24px;
	color: black;
}

.logo {
	width: 100px;
	height: 60px;
	background-image: url(/images/logo.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.head-buttons {
	position: relative;
	top: 45px;
	display: flex;
	flex-direction: row;
	display: flex;
}

.button {
	font-family: 'Anton', sans-serif;
	width: 800px;
	height: 100px;
	font-family: 'Anton', sans-serif;
}

.form-container {
	border: 0px;
	width: 255px;
	height: 100px;
	border-radius: 0px;
	font-size: 24px;
	background-color: #F6C105;
}

.home {
	text-decoration: none;
	color: black;
}
.home:hover {
    color: black;
    text-decoration: none;
}