<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	class="h-100">
<head>
<title th:text="${event.name}">Category</title>
<link rel="stylesheet" href="/css/indexStyle.css">
<link rel="stylesheet" href="/css/headerStyle.css">
<link href="/icons/css/all.css" rel="stylesheet">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body class="index-body">
	<div th:insert="fragments/header :: header">Panel</div>
	<div class="event">
		<div class="name">
			<h1 th:text="${event.name}"></h1>
		</div>
		<div>Слоты:</div>
		<div class="slots">
			<div class="slot">Лошадь</div>
			<div class="slot">Коэффициен</div>
			<div class="slot">Ставка</div>
		</div>
		<div class="slots" th:each="slot : ${slots}">
			<div class="slot" th:text="${slot.horse.name}"></div>
			<div class="slot" th:text="${slot.coefficient}"></div>
			<input sec:authorize="hasRole('ROLE_user')" type=" text" class="slot"
				id="name" name="bet">

			<div class="add-slot">
				<th:block sec:authorize="hasRole('ROLE_admin')">
					<form th:action="@{/slot/remove}" method="post">
						<input type="text" name="id" th:value="${slot.id}" hidden /> <input
							type="text" name="eventId" th:value="${event.id}" hidden />
						<button class="yelow" type="submit">
							<i class="fas fa-backspace"></i>
						</button>
					</form>
				</th:block>
				<th:block sec:authorize="isAuthenticated()">
					<form th:action="@{/user/setBet}" method="post">
						<input type="text" name="id" th:value="${slot.id}" hidden /> <input
							type="text" name="eventId" th:value="${event.id}" hidden />
						<button sec:authorize="hasRole('ROLE_user')" class="yelow" type="submit">
							<i class="fas fa-check"></i>
						</button>
					</form>
				</th:block>
			</div>
		</div>
		<button sec:authorize="hasRole('ROLE_admin')" class="btn btn-warning"
			type="button" data-toggle="collapse" data-target="#collapseExample"
			aria-expanded="false" aria-controls="collapseExample">Добавить
			слот</button>
		<div class="collapse" id="collapseExample">
			<div class="card">
				<form th:action="@{/slot/add}" th:object="${slot}" method="post">
					<input type="text" name="eventId" th:value="${event.id}" hidden />
					<div class="slots">
						<select class="slot hource-list" name="hource">
							<option th:each="hources: ${hources}" th:text="${hources.name}"></option>
						</select> <input type="text" class="slot" id="name" name="coefficient">
						<div class="add-slot">
							<button class="yelow" type="submit">
								<i class="fas fa-plus"></i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>