<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Кабинет</title>
<link rel="stylesheet" href="/css/indexStyle.css">
<link rel="stylesheet" href="/css/headerStyle.css">
<link href="/icons/css/all.css" rel="stylesheet">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
</head>
<body class="index-body">
	<div th:insert="fragments/header :: header">Panel</div>
	<div class="content-container">
		<div class="title">
			<h1>Кабинет</h1>
		</div>
		<div class="statistics">

			<div class="user-info-container">
				<div class="cabinet-info-text information-container">Имя:</div>
				<div class="cabinet-info-text information-container"
					th:text="${logenedUser.name}"></div>
			</div>
			<div class="user-info-container">
				<div
					class="cabinet-info-text cabinet-info-text information-container">Фамилия:</div>
				<div class="cabinet-info-text information-container"
					th:text="${logenedUser.surname}"></div>
			</div>
			<div class="user-info-container">
				<div class="cabinet-info-text information-container">Почта:</div>
				<div class="cabinet-info-text information-container"
					th:text="${logenedUser.email}"></div>
			</div>
			<div class="user-info-container">
				<div class="cabinet-info-text information-container">Логин:</div>
				<div class="cabinet-info-text information-container"
					th:text="${logenedUser.login}"></div>
			</div>
			<div class="user-info-container">
				<div class="cabinet-info-text information-container">День
					рождения:</div>
				<div class="cabinet-info-text information-container"
					th:text="${logenedUser.birthday}"></div>
			</div>
			<div class="user-info-container">
				<div class="cabinet-info-text information-container">Баланс:</div>
				<div style="width: 100px"
					class="cabinet-info-text information-container"
					th:text="${logenedUser.mony}"></div>

				<div class="btn-group dropright">
					<button style="height: 45px; margin-top: 10px;" type="button"
						class="btn btn-warning dropdown-toggle" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-coins"></i>
					</button>
					<div style="width: 250px; height: 0px; padding: 0px"
						class="dropdown-menu">
						<form th:action="@{/cabinet/mony/add}" method="post">
							<input type="number" class="slot" id="position" name="payment"
								value="100" min="1" max="9999">
							<button style="height: 42px; margin-bottom: 6px" type="submit"
								class="btn btn-warning" data-toggle="tooltip"
								data-placement="top" title="Пополнить счет">
								<i class="fas fa-plus"></i>
							</button>
						</form>
					</div>
				</div>

			</div>
			<form th:action="@{/cabinet/editing}" method="get">
				<input type="text" name="id" th:value="${logenedUser.id}" hidden />
				<div class="edition-button-container">
					<button type="submit" class="btn btn-warning" data-toggle="tooltip"
						data-placement="top" title="Изменить информацию">
						<i class="fas fa-user-edit"></i>
					</button>
				</div>
			</form>
		</div>
		<div class="title">
			<h1>История ставок</h1>
		</div>
		<div class="statistics">
			<div class="slots">
				<div class="slot">Лошадь</div>
				<div class="slot">Коэффициен</div>
				<div class="slot">Ставка</div>
				<div class="slot">Позиция</div>
				<div class="slot">Событие</div>
				<div class="slot">Статус события</div>
				<div class="slot">Результат</div>
			</div>
			<div class="slots" th:each="slots : ${slots}">
				<div class="slot" th:text="${slots.horse.name}"
					data-toggle="tooltip" data-placement="bottom"
					th:title="${slots.horse.name}"></div>
				<div class="slot" th:text="${slots.coefficient}"></div>
				<div class="slot" th:text="${slots.bet}"></div>
				<div class="slot" th:text="${slots.position}"></div>
				<div class="slot" th:text="${slots.event.name}"
					data-toggle="tooltip" data-placement="bottom"
					th:title="${slots.event.name}"></div>
				<div style="font-size: 24px" th:switch="${slots.event.status.name}">
					<span class="slot badge badge-danger" th:case="'LIVE'">Live</span>
					<span class="slot badge badge-success" th:case="'FUTURE'">Future</span>
					<span class="slot badge badge-secondary" th:case="'FINISHED'">Finished</span>
					<span class="slot badge badge-light" th:case="'NOT READY'">NOT
						READY</span>
				</div>
				<div style="font-size: 24px" th:switch="${slots.status}">
					<span class="slot badge badge-danger" th:case="'LOOS'">LOOS</span>
					<span class="slot badge badge-success" th:case="'WIN'">WIN</span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>