<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	class="h-100">
<head>
<title>Добавить лошадь</title>
<link rel="stylesheet" href="/css/indexStyle.css">
<link rel="stylesheet" href="/css/headerStyle.css">
<script src="https://kit.fontawesome.com/8d01d54a35.js"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body class="index-body">
	<div th:insert="fragments/header :: header">Panel</div>
	<div class="main-container">
		<div class="menu-container"
			th:insert="fragments/adminButtons :: buttons">Panel</div>
		<div class="content-container">
		<div class="title">
			<h1>Добавление лошади</h1>
		</div>
			<div class=" statistics">
				<form th:action="@{/admin/hources/add}" th:object="${hource}"
					method="post" class="card-body">
					<div class="form-group">
						<label for="name">Имя</label>
						<div class="alert alert-danger"
							th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
						<input type="text" class="form-control" id="name" name="name">
					</div>
					<div class="form-group">
						<label for="party">Пол</label> <select class="form-control"
							name="sex">
							<option>Мужской</option>
							<option>Женский</option>
						</select>
					</div>
					<div class="form-group">
						<label for="name">Возраст</label>
						<input type="text" class="form-control" id="age" name="age">
					</div>
					<div class="form-group">
						<label for="party">Жокей</label> <select class="form-control"
							name="jockeyName">
							<option th:each="jockeys: ${jockeys}"
								th:text="${jockeys.getName()}"></option>
						</select>
					</div>
					<div class="form-group">
						<label for="party">Тренер</label> <select class="form-control"
							name="trainerName">
							<option th:each="trainers: ${trainers}"
								th:text="${trainers.getName()}"></option>
						</select>
					</div>
					<button type="submit" class="btn btn-warning">Добавить
						лошадь</button>
					<input class="btn btn-warning" type="button" value="Отмена"
						onclick="window.location.href='/admin/hources'" />
				</form>
			</div>
		</div>
	</div>
</body>
</html>