<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Running Bet</title>
<link rel="stylesheet" href="/css/indexStyle.css">
<link rel="stylesheet" href="/css/headerStyle.css">
<link href="/icons/css/all.css" rel="stylesheet">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
</head>
<body class="index-body">
	<div th:insert="fragments/header :: header">Panel</div>
	<div class="cont">
		<div class="tool-container">
			<div class="tools">
				<div class="dropdown">
					<button class="btn btn-warning btn-lg dropdown-toggle"
						type="button" id="dropdownMenuButton" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">Категории</button>
					<div style="background-color: black; width: 200px;"
						class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<div class="user-row" th:each="categories : ${categories}">
							<form class="form-search" style="width: 100%"
								th:action="@{/home/search/category}" method="get">
								<input type="text" name="category" th:value="${categories.name}"
									hidden />
								<button style="width: 100%" class="btn btn-success"
									type="submit" th:text="${categories.name}"></button>
							</form>
						</div>
					</div>
				</div>

				<div class="dropdown">
					<button class="btn btn-warning btn-lg dropdown-toggle"
						type="button" id="dropdownMenuButton" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">Статус</button>
					<div style="background-color: black;" class="dropdown-menu"
						aria-labelledby="dropdownMenuButton">
						<form class="form-search" style="width: 100%"
							th:action="@{/home/search/status}" method="get">
							<input type="text" name="status" value="FUTURE" hidden />
							<button style="width: 100%" class="btn btn-success" type="submit">
								FUTURE</button>
						</form>
						<form class="form-search" style="width: 100%"
							th:action="@{/home/search/status}" method="get">
							<input type="text" name="status" value="LIVE" hidden />
							<button style="width: 100%" class="btn btn-danger" type="submit">
								LIVE</button>
						</form>
						<form class="form-search" style="width: 100%"
							th:action="@{/home/search/status}" method="get">
							<input type="text" name="status" value="FINISHED" hidden />
							<button style="width: 100%" class="btn btn-secondary"
								type="submit">FINISHED</button>
						</form>
						<form class="form-search" style="width: 100%" th:action="@{/}"
							method="get">
							<button style="width: 100%" class="btn btn-info" type="submit">ALL</button>
						</form>
					</div>
				</div>

				<div class="dropdown">
					<button class="btn btn-warning btn-lg dropdown-toggle"
						type="button" id="dropdownMenuButton" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">Дата</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<form class="form-search" style="width: 100%"
							th:action="@{/home/search/date}" method="get">
							<input type="date" class="form-control" id="login" name="date">
							<button style="width: 100%" class="btn btn-info" type="submit">
								<i class="fas fa-search"></i>
							</button>
						</form>
					</div>
				</div>
			</div>
			<div style="font-size: 40px">События</div>
			<div>
				<form class="form-search" style="width: 100%"
					th:action="@{/home/search/event}" method="get">
					<input type="text" class="form-control" id="login" name="name">
					<button style="width: 50px" class="btn btn-warning" type="submit"
						data-toggle="tooltip" data-placement="bottom"
						title="Поиск события по названию">
						<i class="fas fa-search"></i>
					</button>
				</form>
			</div>

		</div>

		<div class="event-container">
			<div th:each="events : ${events}">
				<form th:unless="${events.getStatus().getName() == 'NOT READY'}"
					th:action="@{/event}" method="get">
					<button class="event-block" type="submit">
						<div class="home-status-container">
							<div th:switch="${events.getStatus().getName()}">
								<span class="badge badge-danger" th:case="'LIVE'">Live</span> <span
									class="badge badge-success" th:case="'FUTURE'">Future</span> <span
									class="badge badge-secondary" th:case="'FINISHED'">Finished</span>
								<span class="badge badge-light" th:case="'NOT READY'">NOT
									READY</span>
							</div>
						</div>
						<div class="eveny-name">
							<h3 th:text="${events.getName()}">-</h3>
						</div>
						<div class="event-info">
							<div th:text="${events.startDate}">-</div>
							<div th:text="${events.category.name}">-</div>
						</div>
						<input type="text" name="eventId" th:value="${events.id}" hidden />
					</button>
				</form>
			</div>
		</div>
	</div>

</body>
</html>