<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	class="h-100">
<head>
<title>Пользователи</title>
<link rel="stylesheet" href="/css/indexStyle.css">
<link rel="stylesheet" href="/css/headerStyle.css">
<link href="/icons/css/all.css" rel="stylesheet">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
</head>
<body class="index-body">
	<div th:insert="fragments/header :: header">Panel</div>
	<div class="main-container">
		<div class="menu-container"
			th:insert="fragments/adminButtons :: buttons">Panel</div>
		<div class="content-container">
			<div class="title">
				<h1>Пользователи</h1>
			</div>
			<div class="statistics">
				<div class="yelow user-row">
					<i class="far fa-user"></i>
					<div class="information-container">Имя</div>
					<div class="information-container">Фамилия</div>
					<div class="information-container">Счет</div>
					<div class="information-container">Победы</div>
					<div class="dropdown">
						<button
							class="information-container btn btn-warning dropdown-toggle"
							type="button" id="dropdownMenuButton" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">Логин</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<form style="width: 100%" th:action="@{/admin/users/find}"
								method="get">
								<input type="text" class="form-control" id="login"
									name="userLogin">
								<button style="width: 100%" class="btn btn-info" type="submit">
									<i class="fas fa-search"></i>
								</button>
							</form>
						</div>
					</div>
					<div class="information-container">Почта</div>
					<div class="information-container">Роль</div>
					<div class="dropdown">
						<button
							class="information-container btn btn-warning dropdown-toggle"
							type="button" id="dropdownMenuButton" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">Блокировка</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<form style="width: 100%"
								th:action="@{/admin/users/sort/blocked}" method="get">
								<button style="width: 100%" class="btn-danger" type="submit">Заблокированные</button>
							</form>
							<form style="width: 100%"
								th:action="@{/admin/users/sort/unblocked}" method="get">
								<button class="btn-success" type="submit">Не
									заблокированные</button>
							</form>
							<form style="width: 100%" th:action="@{/admin/users}"
								method="get">
								<button style="width: 100%" class="btn-info" type="submit">Все</button>
							</form>
						</div>
					</div>
				</div>
				<div class="user-row" th:each="users : ${users}">
					<i class="far fa-user"></i>
					<div class="information-container" th:text="${users.getName()}"></div>
					<div class="information-container" th:text="${users.getSurname()}"></div>
					<div class="information-container" th:text="${users.getMony()}"></div>
					<div class="information-container" th:text="${users.wins}">0</div>
					<div class="information-container" th:text="${users.login}">0</div>
					<div class="information-container" th:text="${users.getEmail()}"
						data-toggle="tooltip" data-placement="bottom"
						th:title="${users.getEmail()}"></div>

					<div class="roles-container btn-group">
						<button class="btn btn-secondary btn-sm dropdown-toggle"
							type="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false">Роль:</button>
						<div th:each="roles : ${users.roles}" class="dropdown-menu">
							<div style="display: flex; justify-content: center;"
								th:text="${roles.role}"></div>
							<div th:if="${roles.role == 'admin'}">
								<form style="width: 100%" th:action="@{/admin/user/role/down}"
									method="post">
									<input type="text" name="userLogin" th:value="${users.login}"
										hidden />
									<button style="width: 100%" class="btn btn-info" type="submit">Сделать
										пользователем</button>
								</form>
							</div>
							<div th:if="${roles.role == 'user'}">
								<form style="width: 100%" th:action="@{/admin/user/role/up}"
									method="post">
									<input type="text" name="userLogin" th:value="${users.login}"
										hidden />
									<button style="width: 100%" class="btn btn-warning" type="submit">Сделать
										администратором</button>
								</form>
							</div>
						</div>

					</div>
					<div th:switch="${users.blocked}">
						<span class="information-container badge badge-danger"
							th:case="'true'" th:text="${users.blocked}">Live</span> <span
							class="information-container badge badge-success"
							th:case="'false'" th:text="${users.blocked}">Future</span>
					</div>
					<div class="block-container">
						<div th:if="${users.blocked == 'false'}">
							<form th:action="@{/admin/user/lock}" method="post">
								<input type="text" name="userLogin" th:value="${users.login}"
									hidden />
								<button class="yelow" type="submit">
									<i class="fas fa-lock"></i>
								</button>
							</form>
						</div>
						<div th:if="${users.blocked == 'true'}">
							<form th:action="@{/admin/user/unlock}" method="post">
								<input type="text" name="userLogin" th:value="${users.login}"
									hidden />
								<button class="yelow" type="submit">
									<i class="fas fa-lock-open"></i>
								</button>
							</form>
						</div>

					</div>
				</div>
			</div>
			<div class="pageable-row">
				<div class="btn-group" role="group" aria-label="Basic example">
					<input class="btn btn-warning" type="button" value="Назад"
						onclick="window.location.href='/admin/users/prev'"><input
						class="btn btn-warning" type="button" value="Следующая"
						onclick="window.location.href='/admin/users/next'" />
				</div>
			</div>
		</div>
	</div>
</body>
</html>