<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
	<div th:fragment="buttons">
		<form th:action="@{/admin}" method="get">
			<button class="admin-buttons" type="submit">
				Статистика <i class="fas fa-chart-line"></i>
			</button>
		</form>
		<form th:action="@{/admin/users}" method="get">
			<button class="admin-buttons" type="submit">
				Пользователи <i class="fas fa-users"></i>
			</button>
		</form>
		<form th:action="@{/admin/category}" method="get">
			<button class="admin-buttons" type="submit">
				Категории <i class="fas fa-bars"></i>
			</button>
		</form>
		<form th:action="@{/admin/event}" method="get">
			<button class="admin-buttons" type="submit">
				События <i class="fas fa-calendar-week"></i>
			</button>
		</form>
		<form th:action="@{/admin/jockey}" method="get">
			<button class="admin-buttons" type="submit">
				Жокеи <i class="fas fa-user"></i>
			</button>
		</form>
		<form th:action="@{/admin/trainers}" method="get">
			<button class="admin-buttons" type="submit">
				Тренера <i class="fas fa-user-tie"></i>
			</button>
		</form>
		<form th:action="@{/admin/hources}" method="get">
			<button class="admin-buttons" type="submit">
				Лошади <i class="fas fa-horse-head"></i>
			</button>
		</form>
	</div>
</body>
</html>